@font-face {

  font-family: "Poppins";
  src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
}


// * PADDING
$padding-xxxl: 128px;
$padding-xxl: 60px;
$padding-xl: 50px;
$padding-l: 40px;
$padding-m: 30px;
$padding-s: 20px;
$padding-xs: 10px;

// * MARGIN
$margin-xxxl: 128px;
$margin-xxl: 60px;
$margin-xl: 50px;
$margin-l: 40px;
$margin-m: 30px;
$margin-s: 20px;
$margin-xs: 10px;

// * FONT-FACE
$fs-xl: 75px;
$fs-l: 45px;
$fs-m: 18px;
$fs-s: 14px;
$fs-xs: 12px;
$fs-xxs: 9px;

// * FONT-FAMILY
$ff-primary: "Poppins";

// * COLOR
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;
$third-text-color: rgb(194, 185, 185);
$forth-text-color: #5c7178;

// * BG
$primary-bg: #984D38 -30.3%;
$secondary-bg: #181E41 58.12%;
$thrid-bg: #ffffff;
$backgraund-button-active-first: #B75CFF 6.04%;
$backgraund-button-active-secondary: #671AE4 92.95%;
$backgraund-button: rgba(255, 255, 255, 0.1);

// * TRANSITION
$transition-speed: 500ms;
$transition-speed-low: 300ms;


// * Box-shadow
$box-shadow-x: 8px 11px 8px;
$box-shadow-m: 6px 8px 6px;
$box-shadow-s: 4px 6px 4px;

// * Border radius
$border-radius-button: 10px;
$border-radius-seach: 15px;






