@import "./scss/variables.scss";
@import "./scss/mixings.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
.navigator {
  width: 70px;
  height: 100vh;
  background-color: aqua;
  transition: $transition-speed;
  position: fixed;
  &:hover {
    background-color: aqua;
    width: 220px;
    transition: $transition-speed-low;
  }
  &:hover span {
    left: 0px;
  }
  &:hover img {
    left: 0px;
  }

  &:hover .arrow {
    display: none;
  }

  .nav-logo {
    @include d-flex(center, center);
    & img {
      position: relative;
      width: 70px;
      right: 350px;
    }
    & .arrow {
      position: relative;
      right: 37px;
    }
  }
  .navbar-menu {
    & ul {
      & li {
        & a {
          display: flex;
          align-items: center;
          margin-left: $margin-s;
          margin-top: $margin-xl;
          height: 25px;
          width: 200px;

          & i {
            width: 10px;
          }
          & span {
            font-size: $fs-m;
            position: relative;
            margin-left: $margin-xl;
            right: 350px;
            &:hover {
              border-bottom: 1px solid;
              border-width: 2px;
            }
          }
        }
      }
    }
  }
}
